body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: url("img/background.jpg");
    height: 659px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 10px;
}
ul li{
    padding-top: 10px;
    list-style: none;
    margin-right: 26px;
}
ul li a{
    text-decoration: none;
    color: #ccc;
    list-style: none;
}

ul li a:hover{
    text-decoration: none;
    background: #ccca;
    color: #ccc;
} */

ul li {
    display: block;
    float: left;
}

li a{
    color: white;
    font-size: 14px;
     padding:8px 6px;
     display: block;
     border-top: 5px solid transparent; 
}


#center-header{
    height: 565px;
}

#referencia{
    display: flex;
    justify-content: center;
}

.vl {
    border-left: 6px solid green;
    height: 77px;
    width: 1px;
    margin-left: 59px;
}

.medida_verde{
    background: red;
    height: 93px;
}

.border_img{
    border-radius: 50%;
}

.space{
    width: 22px;
}

.altura{
    padding-top: 15px;
}

.altura2{
    padding-top: 47px;
}

.altura3{
    padding-top: 10px;
    
}


.prubeasss{
    display: flex;
    justify-content: center;
}

.direccion{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tipo_letra{
font-size: 24px;
color: #c3c2c2;
font-weight: bold;
margin-top: 28px;
}

.menu_Our{
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.tipo_menu{
    width: 280px;
    background: red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_1{
    width: 123px;
}

#menu_2{
    width: 88px;
    background: #fff;
    border-right: 1px solid #2b9b2b;
}

.orden{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 115px;
    padding-top: 60px;
}

.orden_img2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 115px;
    padding-top: 30px;
}

#menu_3{
    width: 69px;
    background: #fff;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.tipo_menu ul li{
    width: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botton{
    background: #54d154;
    color: #fff;
    width: 120px;
    height: 30px;
    text-align: center;
    padding:4px 0px;
    border-radius: 20px;
    transition: 0.5s ease all;
}

.botton:hover{
    text-decoration: none;
    background: #f34d04;
    transform: scale(1.05);
    color: #fff;
}

.medida_slide{
    width: 900px;
}

.letter{
    font-size: 15px;
    color: #c2c1c1;
    width: 272px;
    text-align: center;
    padding-top: 19px;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadro{
    background: #e1f3e1;
    width: 142px;
    height: 142px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_font{
    color: #54d154;
}

.medida{
    background: #ffffff;
    height: 578px;
}

.busqueda{
    margin-left: -25px;
    margin-top: 10px;
}

.alineacion{
    display: flex;
}


.carousel-item {
    height: 100px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.alturaLetter{
    height: 285px;
    color: #575757;
}

.altura_botton{
    height: 105px;
    
}

.color{
    color: #e0dfdf;
}

.tamaño_letra{
    font-size: 16px;
}

.cambio_posicion{
    display: flex;
    flex-direction: row-reverse;
}

.medida_work{
    background: #54d154;
    height: 748px;
}

.testimonals{
    background: #fff;
    height: 344px;
}

.estilo1{
height: 483px;
}

.estilo2{
    height: 92px;
    background: #3eba3e;
}

.container_client{
    background: #f2f1f1;
    height: 500px;
}

.container_team{
    background: #54d154;
    height: 482px;
}

.title_client{
    padding-top: 43px;
 font-size: 20px;
    color: #828181;
}

.title_recent{
    padding-top: 43px;
 font-size: 20px;
    color: #a7a7a7;
}

.botton_primario{
    width: 190px;
    background: #2b9b2b;
    border-color: #2b9b2b;
}

.botton_client{
    width: 185px;
    background: #dddcdc;
    border-color: #dddcdc;
}

.centrar_botones{
    display: flex;
    justify-content: center;
    padding-top: 58px;
}

.relleno{
    padding-top: 43px;
    color: #828181;
}

.title_work{
    padding-top: 43px;
 font-size: 20px;
 color: #207b20;
}

.title_testimonals{
    color: #969595;
    padding-top: 43px;
    font-size: 20px;
}

hr{
    border-bottom:  4px solid #828181;
    width: 45px;
    text-align: center;
}

.centrado_column hr{
    border-bottom:  4px solid #828181;
    width: 45px;
    text-align: center;
    margin-top: 0px;

}


#referencia a{
    background: rgba(222, 215, 212, 0.49);
    width: 121px;
    height: 26px;
    color: black;
    text-decoration: none;
    border-radius: 20px;
}

#centradito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desing{
    font-size: 16px;
    color: #828181;
}

#centradito h1{
   color: #fff;
   font-weight: bold;
   font-size: 55px;
}

#centradito a{
    background: #54d154;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    display: block;
    width: 205px;
    height: 49px;   
    padding: 9px 0px;
    font-weight: normal;
    font-size: 21px;
    transition: 0.5s ease all;
}

#centradito a:hover{
    text-decoration: none;
    background: #f34d04;
    transform: scale(1.05);
}

 .activo, #unico  li a:hover{
    font-weight: bold;
    border-top:5px solid #54d154;
    color: #ccc;
    text-decoration: none;
}

.activo2{
    background: #2b9b2b;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #fff;
}

.tipo_menu ul li:hover {
    background: #2b9b2b;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.propia{
    padding-left: 9px;
    font-size: 15px;
    height: 13px;
}

.edicion1{
    color: #ea4c89
}

.edicion2{
    background: #60a3e3;
    border-radius: 20px;
    color: #b9e1c8;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.estilo_letra{
    color: #aeaeae;
}

.centrado_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.center_column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figurita{
    background: #54d154;
    width: 80px;
    height: 21px;
    padding: 0px;
    margin-left: 16px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.figurita2{
    background: #ffba00;
    width: 80px;
    FONT-SIZE: 13px;
    height: 21px;
    padding: 0px;
    margin-left: 16px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.figurita3{
    background: #2ba4eb;
    width: 95px;
    height: 21px;
    font-size: 13px;
    padding: 0px;
    margin-left: 16px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.center_2{
text-align: center;
}

.input1{
    border-top-left-radius: 7px;
    background: RGBA(68, 68, 68,2.5);
    border-top-right-radius: 7px;
    border: 0px;
    width: 380px;
    padding-left: 10px;
}


.butto1{
    margin-top: 10px;
    background: #2b9b2b;
    color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 0px;
    width: 380px;
    padding-left: 10px;
}

.input2{
    margin-top: 7px;
    border: 0px;
    background: RGBA(68, 68, 68,2.5);
    width: 380px;
    padding-left: 10px;
}

.input3{
    border: 0px;
    margin-top: 7px;
    background: RGBA(68, 68, 68,2.5);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 380px;
    padding-left: 10px;
    height: 100px;
}

.figurita4{
    
    background: #f34d04;
    width: 97px;
    height: 21px;
    font-size: 13px;
    padding: 0px;
    margin-left: 16px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.title_1{
    color: #fff;
}

.edicion3{
    background: #00aced;
    border-radius: 20px;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.apartado_2{
    background: #3eba3e;
    height: 93px;
    display: flex;
    justify-content: center;
}

.recent_post{
    background: #333333;
    height: 490px;
    display: flex;
    justify-content: center;
    padding: 0px;
}


.recent_Seen{
    background: #222222;
    height: 220px;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.recent_final{
    background: #111111;
    height: 35px;
    display: flex;
    justify-content: center;
    padding: 0px;
}





.componente{
    width: 85px;
    height: 28px;
    background: #c5e9c5;
    border-radius: 20px;
    margin-left: 21px;
}

.seperado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 28px;
}

.padding-left{
 margin-left: 15px;
}

.padding-left2{
    margin-left: 8px;
}

.padding-left3{
    margin-left: 29px;
}
   
.padding-left4{
    margin-left: 32px;
}

.padding-left5{
    margin-left: 18px;
}

.padding_space{
    padding-left: 9px;
    font-size: 15px;
    height: 13px;
}

.tipo_menu ul li a{
    text-decoration: none;
    color: #58aa58;
}

.tipo_menu ul #menu_1 a{
    text-decoration: none;
    color: #fff;
}

ul{
    display: block;
    width: 100%;
    height: 40px;   
}

.buscador{
    background:rgba(217, 216, 216, 0.9);
    border: none;
    border-radius: 15px;
    height: 27px;
    padding: 7px 14px;
    font-size: 16px;
    color: #111;
    width: 100%;
    margin-top: 5px;
}